corrfitter/
g2tools/
figures/
data/
glesga/
log/
filenames.txt
misc-code/
code/__pycache__/
Cont_limit_lattice2021/
g-2/old/
g-2/misc/
g-2/out/
g-2/fits/
g-2/figures/
g-2/pseudoscalar/old/
g-2/pseudoscalar/fits/
*.pyc
*.slurm
